@model IEnumerable<InstaRoomWeb.Models.Reserva>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Check In
        </th>
        <th>
            Check Out
        </th>
        <th>
            Precio Hora
        </th>
        <th>
            Precio Dia
        </th>
        <th>
            Precio Total
        </th>
        <th>
            Codigo hotel
        <th>
            Nombre de hotel
        </th>
        <th>
            Codigo habitación
        <th>
            Tipo de habitación
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.check_in)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.check_out)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_hr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitacion.Hotel.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitacion.Hotel.nombre_hotel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitacion.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habitacion.tipo_habitacion)
        </td>
    </tr>
}

</table>
