@model IEnumerable<InstaRoomWeb.Models.Reserva>
@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>
<h3>Detalles reserva:</h3>

<table class="table">
    <tr>
        <th>
            Servicios
        </th>
        <th>
            Tipo Habitación
        </th>
        <th>
            Precio por Día
        </th>
        <th>
            Precio por Hora
        </th>
        <th>
            Precio Total
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.Habitacion.servicios
        </td>
        <td>
           @item.Habitacion.tipo_habitacion
        </td>
        <td>
           @item.precio_dia
        </td>
        <td>
            @item.precio_hr
        </td>
        <td>
            @item.precio_total
        </td>
    </tr>
    }
</table>

@using (Html.BeginForm("Payment", "Reservas", FormMethod.Post))
{ 

<div class="form-horizontal">
    <h4>Reserva</h4>
    <hr />
    <div class="form-group">
        @Html.Label("Customer Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            <input type="text" name="cust_name" required>
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Customer Lastname", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            <input type="text" name="cust_lastname" required>
        </div>
    </div>

        <div class="form-group">
            @Html.Label("Credit Card #", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" name="card_number" required> <input type="number" name="ccv" min="0" max="999" required />
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Pagar</button>
            </div>
        </div>
    </div>

    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

